.MsoNormal > span {
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 85%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 85%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 85%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 77%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    line-height: 76%;
    font-family: "Arial",sans-serif;
    color: black
}

.MsoNormal > span {
    font-size: 9.0pt;
    font-family: "Arial",sans-serif
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#course_code_input {
}

#CLR-1 {
}

#CLR-2 {
}

#CLR-3 {
}

#CLR-4 {
}

#CLR-5 {
}

#CO-1 {
}

#CO-2 {
}

#CO-3 {
}

#CO-5 {
}

#U {
}

.WordSection1 {
}

.MsoNormal {
    line-height: 115%;
    border: none
}

.a {
    margin-left: 6.0pt;
    border-collapse: collapse;
    border: none
}

.a0 {
    margin-left: 6.0pt;
    border-collapse: collapse;
    border: none
}

.a1 {
    border-collapse: collapse;
    border: none;
    margin-left: 7.2pt;
    margin-right: 7.2pt
}

.a2 {
    margin-left: 7.75pt;
    border-collapse: collapse;
    border: none
}

.a3 {
    margin-left: 6.25pt;
    border-collapse: collapse;
    border: none
}

.a4 {
    margin-left: 6.25pt;
    border-collapse: collapse;
    border: none
}

.a5 {
    margin-left: 6.0pt;
    border-collapse: collapse;
    border: none
}